<div ng-repeat="location in locations" ng-if="location._id == mission.location_start[0]">
	
	<!-- Click on the arrow to chekin to the place -->
	<h1> <i class="fa fa-location-arrow" ng-click="checkin(location._id,mission)"></i> {{mission.title}}</h1>

	<i ng-init="table('locations')"></i>
	<div ng-bind-html="mission.description"></div>

	<b>{{location.title}} hakkında bilgi</b> : 
	<div ng-bind-html="location.description"></div>
	
	<i ng-init="table('items')"></i>
	<!-- Traverse through items in location	 -->
	<div class="row">
		<div ng-repeat="item in items">
			<div ng-repeat="item_ in location.items" ng-if="item_ == item._id"  class="col-xs-6">
				<div class="row">
					<div class="col-xs-4 cover fullwidth" style="background-image:url({{item.image[0]}});height:130px">
						
					</div>
					<div class="col-xs-8">
						<h3>{{item.title}}</h3>
						<div ng-bind-html="item.description"></div>
					</div>
					
				</div>
			</div>	
		</div>
	</div>

	<div ng-if="mission.type=='invade'">
		<button class="btn btn-primary fullwidth" ng-click="invade(location._id,mission)">INVADE</button>
	</div>
	<div ng-if="mission.type=='delivery'">
		<button class="btn btn-primary fullwidth" ng-click="deliver()">Deliver Item </button>
	</div>
</div>
	